<form class="row form-horizontal" [formGroup]="signupForm3" (ngSubmit)="onSubmit()" #f="ngForm">
  <!--<div class="pay-from-bank-data form-group">-->
  <div class="text-field-prompt">Создайте платёжку, а Индивидуальный предприниматель Карпенко Михаил Сергеевич подпишет её у себя в интернет-банке</div>
  <div class="form-group">
    <label class="text-field-bank-data col-sm-3">От кого</label>
    <div class="col-sm-6">
      <input (keypress)="onlyNumberKey($event)" type="text" formControlName="payer" placeholder="ИНН или название плательщика"
             class="input-field-bank-data form-control" maxlength="12">
    </div>
  </div>
  <div class="form-group">
    <label class="text-field-bank-data col-sm-3">БИК</label>
    <div class="col-sm-6">
      <input (keypress)="onlyNumberKey($event)" type="text" formControlName="bik" placeholder=""
             class="input-field-bank-data form-control" maxlength="9">
    </div>
  </div>
  <div class="form-group">
    <label class="text-field-bank-data col-sm-3">Номер счета</label>
    <div class="col-sm-6">
      <input (keypress)="onlyNumberKey($event)" type="text" formControlName="num_account" placeholder=""
             class="input-field-bank-data form-control" maxlength="20">
    </div>
  </div>
  <div class="form-group">
    <div class="text-field-bank-data col-sm-3">За что</div>
    <div class="nds-block col-sm-6">
      <input type="text" formControlName="nds" placeholder="Без НДС" class="input-field-bank-data form-control"
             name="NDS" readonly [ngModel]="NDSPrint">
      <div>
        <div class="button-nds" (click)="chooseNDS($event, '18')">НДС 18%</div>
        <div class="button-nds" (click)="chooseNDS($event, '10')">НДС 10%</div>
        <div class="button-nds ndsActive" (click)="chooseNDS($event, '0')">Без НДС</div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label class="text-field-bank-data col-sm-3">Сколько</label>
    <div class="col-sm-6">
      <input (keypress)="onlyNumberKey($event)" type="text" formControlName="sum_pay" placeholder=""
             class="input-field-summpay form-control" maxlength="5">
    </div>
  </div>
  <div class="form-group">
    <label class="text-field-bank-data col-sm-3">Номер телефона</label>
    <div class="telephone-block col-sm-6">
      <input type="text" formControlName="num_telephone" placeholder="" class="input-field-bank-data form-control"
             placeholder="+7 (***) ***-**-**" maxlength="50" mask="+7 (000) 000-00-00">
      <div class="button-telephone">Оставляя телефон вы соглашаетесь на обработку персональных данных</div>
    </div>
  </div>
  <div class="form-group">
    <label class="text-field-bank-data col-sm-3">Эл. Почта</label>
    <div class="col-sm-6">
      <input type="email" formControlName="email" placeholder="Для уведомлений об оплате"
             class="input-field-bank-data form-control" maxlength="50">
    </div>
  </div>
    <button class="button-send-bankpay" [disabled]="!f.valid">Создать платёж</button>
    <div class="button-clear-form"><a href="#" (click)="clearInputs($event)">Очистить форму</a></div>
  <!--<div class="button-clear-form" (click)="clearInputs($event)">Очистить форму</div>-->
  <!--</div>-->
</form>
