<div class="row">
  <div class="col-sm-7 col-xs-12 about-user">
    <div class="user-field">Индивидуальный предприниматель Карпенко Михаил Сергеевич</div>
    <div class="user-telephone field">Телефон: <span>+7912999999</span></div>
    <div class="field">Сайт: <a href="#">www.karpenkoms.com</a></div>
    <div class="field">Почта: <a href="#">krosh347@gmail.com</a></div>
    <div class="field"><a href="#">Информация о компании</a></div>
    <div class="field"><a href="#">Показать реквизиты</a></div>
  </div>
  <div class="col-sm-4 col-xs-12">
    <div class="user-avatar">
      <img src="../assets/img/i1.png" alt="Ooops:(">
    </div>
  </div>
</div>
