<div class="row">
  <div class="user-field">О компании Индивидуальный предприниматель Карпенко Михаил Сергеевич</div>
  <!-- <div class="offers">
    <div class="product">
      <img src="../assets/img/java.png" alt="Ooops:(">
      <div class="product-text">Разработка приложений на Java</div>
      <div class="product-price">10$/час</div>
    </div>
    <div class="product">
      <img src="../assets/img/c.png" alt="Ooops:(">
      <div class="product-text">Разработка приложений на С#</div>
      <div class="product-price">12$/час</div>
    </div>
    <div class="product">
      <img src="../assets/img/python.png" alt="Ooops:(">
      <div class="product-text">Разработка приложений на Python</div>
      <div class="product-price">8$/час</div>
    </div>
  </div> -->
  <div class="row col-sm-12">
    <div class="col-sm-4 product">
      <img src="../assets/img/java.png" alt="Ooops:(">
      <div class="product-text">Разработка приложений на Java</div>
      <div class="product-price">10$/час</div>
    </div>
    <div class="col-sm-4 product">
      <img src="../assets/img/c.png" alt="Ooops:(">
      <div class="product-text">Разработка приложений на С#</div>
      <div class="product-price">12$/час</div>
    </div>
    <div class="col-sm-4 product">
      <img src="../assets/img/python.png" alt="Ooops:(">
      <div class="product-text">Разработка приложений на Python</div>
      <div class="product-price">8$/час</div>
    </div>
  </div>
  <div class="about-user col-sm-12 col-xs-12">
    Я, Михаил Сергеевич, являюсь студентом 3 курса института математики и компьютерных наук.
    <div id="demo" class="collapse">
        Специальность: компьютерная безопасность. Готов работать днём и ночью(особенно ночь). Всегда рад любому делу.
    </div>
  </div>
  
  <!-- button-show-all -->
  <button type="button" class="btn btn-info button-show-all" data-toggle="collapse" data-target="#demo">Показать всё</button>
  
  <!-- <div class="button-show-all col-sm-12 col-xs-12" data-toggle="collapse" data-target="#demo">
    <a>Показать всё</a>
  </div> -->

</div>
